.p-h4{
    margin-bottom: 2rem;
}

.products_logo{
    margin-bottom: 4rem;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
}

#product_image{
    width: 20%;
    display: block;
    margin: auto;
}